::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  // box-shadow: inset 0 0 1px $white;
}

::-webkit-scrollbar-thumb {
  background: #ef4444;
  box-shadow: inset 0 0 4px #ef4444;
  border-radius: 30px;
  scroll-behavior: smooth;
  transition: 0.5s ease-in-out;
}

.ac-jc {
  align-items: center;
  justify-content: center;
}
.ac-jb {
  align-items: center;
  justify-content: space-between;
}

.as-jc {
  align-items: start;
  justify-content: center;
}
.as-jb {
  align-items: start;
  justify-content: space-between;
}
.as-je {
  align-items: start;
  justify-content: flex-end;
}
.ac-jc {
  align-items: center;
  justify-content: center;
}
.ae-jc {
  align-items: end;
  justify-content: center;
}
.ae-jb {
  align-items: end;
  justify-content: space-between;
}
.ae-js {
  align-items: end;
  justify-content: flex-start;
}
.ae-je {
  align-items: end;
  justify-content: flex-end;
}
.ac-je {
  align-items: center;
  justify-content: flex-end;
}
.ac-js {
  align-items: center;
  justify-content: flex-start;
}
.ae-jb {
  align-items: end;
  justify-content: space-between;
}
.ac-jb {
  align-items: center;
  justify-content: space-between;
}
