.hero-section {
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    // background: linear-gradient(to right,
    //     rgba(255, 255, 255, 0.95) 0%,
    //     rgba(255, 255, 255, 0.70) 30%,
    //     rgba(255, 255, 255, 0.35) 55%,
    //     rgba(255, 255, 255, 0.10) 75%,
    //     rgba(255, 255, 255, 0) 100%) !important;
    pointer-events: none;
  }
}

.icon_img {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);

  img {
    height: 20px;
    width: 20px;
    object-fit: contain;

  }
}


.grad_bg {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.92) 20%,
      rgba(255, 255, 255, 0.65) 40%,
      rgba(255, 255, 255, 0.15) 70%,
      rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 1920px;
  left: calc(50% - 1920px/2);
}

/* Rectangle 24026 */

.img_size {
  width: 30px;
  height: 30px;

  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

.cust_border {
  border-top: 4.15934px solid #D6D6D6;
  border-bottom: 4.15934px solid #D6D6D6;
  box-shadow: -9.70513px 13.1712px 48.7336px rgba(0, 0, 0, 0.09);

}

.btn-primary {
  font-family: "f2";
  font-weight: 500;
  color: white;
  background: linear-gradient(98deg, #55ABEE 1%, #52ACF4 56%, #79C0F8);
  box-shadow:
    0px 15px 50px rgba(0, 0, 0, 0.25),
    inset 0px -2px 12px #71BBF6;
  text-shadow: 0px 5.32px 20.5px rgba(0, 0, 0, 0.33);

  span {
    text-shadow: 0px 5.32px 20.5px rgba(0, 0, 0, 0.33);
  }

  // border: 3px solid #F1F1F1;
}



/* Rectangle 24034 */




// Responcive start
@media (min-width: 1800px) {
  .big_sizeh1 {
    font-size: 46px !important;
  }

  .big_sizep {
    font-size: 28px !important;
  }

  .big_btn {
    font-size: 22.64px !important;
  }

  .btn-w {
    width: 280.9px !important;
    height: 62.59px !important;
  }

  .lineh {
    line-height: 49px !important;
  }

  .res_mar {
    margin: 0 10% !important;
  }

  .respad {
    padding: 0 !important;
  }

  .min_title {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }

  .min_title2 {
    font-size: 22px !important;
    // margin-bottom: 10px !important;
  }

  .min_desc {
    font-size: 18px !important;
  }

  .icon_img {
    height: 88px;
    width: 88px;

    img {
      height: 26px;
      width: 26px;
      object-fit: contain;
    }
  }

  .cust_pad {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .img_res {}
}

// Responcive end



// grid_res

@media (max-width: 600px) {
  .grid_res {
    display: flex !important;
    flex-direction: column !important;
    width: 70vw !important;
  }
}



/* Frame 1321317585 */



.whater_shadow {
  background: #FFFFFF;
  box-shadow:  0px 28.6592px 57.3183px -11.4637px rgba(50, 50, 93, 0.25), 0px 17.1955px 34.391px -17.1955px rgba(0, 0, 0, 0.3), inset 0px -1.14637px 3.4391px rgba(10, 37, 64, 0.35);
}

.whater_img {

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 85%;
    width: 85%;
    object-fit: contain;
  }
}


.explore_btn {
  /* Frame 1321318277 */

  background: #0C89D2;
  border: 0.3px solid #EBF2F7;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}


@media (max-width: 1000px) {
  .bg-blur-box {
    filter: blur(12px) !important; /* change level here */
  }
}




