.componentmain {
  width: 100%;
  height: 886px;
  position: relative;
  background: linear-gradient(180deg, #f7f7f7, #fff);
  overflow: hidden;
  text-align: left;
  font-size: 14.78px;
  color: #282828;
  font-family: Manrope;
}

.component291Inner {
  position: absolute;
  top: 157.96px;
  left: 116.93px;
  width: 323.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 323.6px;
  font-size: 21.74px;
}

.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.7px;
}

.elintSystemsWrapper {
  width: 242.5px;
  display: flex;
  align-items: flex-end;
}

.elintSystems {
  position: relative;
  font-weight: 600;
}

.elintSystemsDescription {
  align-self: stretch;
  position: relative;
  font-size: 11.71px;
  letter-spacing: 0.03em;
  line-height: 20.07px;
  font-weight: 300;
  color: #3a3a3a;
}

.component291Child {
  position: absolute;
  top: 54.06px;
  left: 513.75px;
  display: flex;
  align-items: flex-start;
}

.productsWrapper {
  width: 82.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products {
  align-self: stretch;
  position: relative;
  line-height: 22.17px;
}

.instanceParent {
  position: absolute;
  top: 86.11px;
  left: 513.75px;
  width: 237.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.8px;
  font-size: 12.93px;
  color: rgba(72, 75, 78, 0.92);
}

.ultralevelMaxParent,
.ultralevelMaxGroup,
.ultralevelMaxContainer,
.frameDiv,
.hydroSenseProParent,
.voyager4GParent,
.voyager4GMiniParent,
.voyagerMaxParent,
.capSenseParent,
.hydrostaticLevelSensorParent,
.singlePhaseSmartStarterParent,
.threePhaseSmartStarterParent,
.leakDetectionSensorParent,
.weatheronParent,
.ultralevelAirParent,
.weatheronMaxParent,
.multiChannelProcessIndicatorParent,
.voyagerSatXParent {
  width: 237.4px;
  height: 16.6px;
  display: flex;
  align-items: flex-end;
  padding: 3.7px 0px;
  box-sizing: border-box;
}

.ultralevelMaxParent { gap: 121px; }
.ultralevelMaxGroup { gap: 121.9px; }
.ultralevelMaxContainer { gap: 98.8px; }
.frameDiv { gap: 97px; }
.hydroSenseProParent { gap: 109px; }
.voyager4GParent { gap: 137.6px; }
.voyager4GMiniParent { gap: 109px; }
.voyagerMaxParent { gap: 130.2px; }
.capSenseParent { gap: 145px; }
.hydrostaticLevelSensorParent { gap: 52.6px; }
.singlePhaseSmartStarterParent { gap: 36px; }
.threePhaseSmartStarterParent { gap: 38.8px; }
.leakDetectionSensorParent { gap: 67.4px; }
.weatheronParent { gap: 139.5px; }
.ultralevelAirParent { gap: 130.1px; }
.weatheronMaxParent { gap: 110.8px; }
.multiChannelProcessIndicatorParent { gap: 6.5px; }
.voyagerSatXParent { gap: 126.4px; }

.ultralevelMax {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 29.56px;
}

.instanceChild {
  height: 9.2px;
  width: 6.5px;
  position: relative;
  object-fit: contain;
}

.solutionsHeader {
  position: absolute;
  top: 54.06px;
  left: 782.68px;
  display: flex;
  align-items: flex-start;
}

.component291Inner2 {
  position: absolute;
  top: 84.66px;
  left: 784.66px;
  width: 212.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12.93px;
  color: rgba(72, 75, 78, 0.92);
}

.instanceGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.5px;
}

.telecomParent,
.fuelMonitoringParent,
.batteryMonitoringParent,
.mobileFuelDispenserParent,
.dieselGeneratorParent,
.dayTankAutomationParent,
.automatedRainGaugeParent,
.automatedWeatherStationParent,
.dwlrWithTelemetryParent,
.flashFloodEarlyWarningParent,
.urbanFloodWarningParent,
.waterProcessAutomationParent,
.wasteWaterMonitoringParent,
.municipalSumpAutomationParent,
.wagonTrackingParent,
.cargoTrackingParent {
  width: 212.4px;
  height: 16.6px;
  display: flex;
  align-items: flex-end;
  padding: 3.7px 0px;
  box-sizing: border-box;
}

.telecomParent { gap: 153.3px; }
.fuelMonitoringParent { gap: 109px; }
.batteryMonitoringParent { gap: 89.6px; }
.mobileFuelDispenserParent { gap: 68.3px; }
.dieselGeneratorParent { gap: 100.7px; }
.dayTankAutomationParent { gap: 73.9px; }
.automatedRainGaugeParent { gap: 61.9px; }
.automatedWeatherStationParent { gap: 30.5px; }
.dwlrWithTelemetryParent { gap: 72px; }
.flashFloodEarlyWarningParent { gap: 46.2px; }
.urbanFloodWarningParent { gap: 75.7px; }
.waterProcessAutomationParent { gap: 37.9px; }
.wasteWaterMonitoringParent { gap: 54.5px; }
.municipalSumpAutomationParent { gap: 30.5px; }
.wagonTrackingParent { gap: 106.2px; }
.cargoTrackingParent { gap: 111.8px; }

.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.component291Inner3 {
  position: absolute;
  top: 84.66px;
  left: 1034.12px;
  width: 196.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12.93px;
  color: rgba(72, 75, 78, 0.92);
}

.ibcChemicalTankParent,
.lifescienceIbcTankParent,
.ibcRentalContainerParent,
.waterTankAutomationParent,
.oxygenLevelMonitoringParent,
.indoorAirQualityParent,
.railwaysParent,
.abrasiveSurfacePreparationParent,
.atmParent,
.dataCenterParent,
.coldChainParent,
.oilGasParent,
.utilitiesParent,
.microgridParent,
.solarPumpParent,
.industrialTankMonitoringParent {
  width: 196.7px;
  height: 16.6px;
  display: flex;
  align-items: flex-end;
  padding: 3.7px 0px;
  box-sizing: border-box;
}

.ibcChemicalTankParent { gap: 75.7px; }
.lifescienceIbcTankParent { gap: 61.9px; }
.ibcRentalContainerParent { gap: 59.1px; }
.waterTankAutomationParent { gap: 43.4px; }
.oxygenLevelMonitoringParent { gap: 36px; }
.indoorAirQualityParent { gap: 83.1px; }
.railwaysParent { gap: 136.7px; }
.abrasiveSurfacePreparationParent { gap: 8.3px; }
.atmParent { gap: 163.5px; }
.dataCenterParent { gap: 114.5px; }
.coldChainParent { gap: 121.9px; }
.oilGasParent { gap: 135.9px; }
.utilitiesParent { gap: 141.7px; }
.microgridParent { gap: 131.5px; }
.solarPumpParent { gap: 119.1px; }
.industrialTankMonitoringParent { gap: 26.2px; }

.frameGroup {
  position: absolute;
  top: 537.49px;
  left: 513.75px;
  width: 209.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.7px;
}

.frameContainer {
  display: flex;
  align-items: flex-start;
}

.resourcesList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 5.5px;
  font-size: 12.93px;
  color: rgba(72, 75, 78, 0.92);
}

.blogParent,
.elintCloudParent,
.useCaseParent {
  width: 209.7px;
  height: 16.6px;
  display: flex;
  align-items: flex-end;
  padding: 3.7px 0px;
  box-sizing: border-box;
}

.blogParent { gap: 176.4px; z-index: 0; }
.elintCloudParent { gap: 135.8px; z-index: 1; }
.useCaseParent { gap: 146.9px; z-index: 2; }

.newWrapper {
  margin: 0 !important;
  position: absolute;
  top: 46.05px;
  left: 65.46px;
  box-shadow: 0px 2.150995969772339px 8.71px rgba(0, 0, 0, 0.06);
  border-radius: 2.15px;
  background-color: #f1f1f1;
  border: 0.4px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.3px 6.5px;
  z-index: 3;
  font-size: 10.75px;
  color: #585858;
}

.new {
  position: relative;
  line-height: 25.81px;
  font-weight: 500;
}

.newContainer {
  margin: 0 !important;
  position: absolute;
  top: 1.11px;
  left: 36.57px;
  box-shadow: 0px 2.150995969772339px 8.71px rgba(0, 0, 0, 0.06);
  border-radius: 2.15px;
  background-color: #f1f1f1;
  border: 0.4px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.3px 6.5px;
  z-index: 4;
  font-size: 10.75px;
  color: #585858;
}

.downloadSection {
  position: absolute;
  top: 536.04px;
  left: 1034.12px;
  width: 209.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.7px;
}

.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.2px;
  font-size: 12.93px;
  color: rgba(72, 75, 78, 0.92);
}

.instanceFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cloudAndroidIosParent,
.productsDataSheetParent {
  width: 209.7px;
  height: 16.6px;
  display: flex;
  align-items: flex-end;
  padding: 3.7px 0px;
  box-sizing: border-box;
}

.cloudAndroidIosParent { gap: 56.3px; }
.productsDataSheetParent { gap: 60px; }

.companySection {
  position: absolute;
  top: 536.04px;
  left: 784.66px;
  width: 93.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.7px;
}

.companyList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 5.5px;
  font-size: 12.93px;
  color: rgba(72, 75, 78, 0.92);
}

.aboutUsParent,
.careersParent,
.eventsParent {
  width: 93.3px;
  height: 16.6px;
  display: flex;
  align-items: flex-end;
  padding: 3.7px 0px;
  box-sizing: border-box;
}

.aboutUsParent { gap: 147.8px; z-index: 0; }
.careersParent { gap: 156.1px; z-index: 1; }
.eventsParent { gap: 162.6px; z-index: 2; }

.companyItem {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 29.56px;
  flex-shrink: 0;
}

.companyArrow {
  height: 9.2px;
  width: 6.5px;
  position: relative;
  object-fit: contain;
  flex-shrink: 0;
}

.newFrame {
  margin: 0 !important;
  position: absolute;
  top: 23.42px;
  left: 57.78px;
  box-shadow: 0px 2.150995969772339px 8.71px rgba(0, 0, 0, 0.06);
  border-radius: 2.15px;
  background-color: #f1f1f1;
  border: 0.4px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.3px 6.5px;
  z-index: 3;
  font-size: 10.75px;
  color: #585858;
}

.newsletterSection {
  position: absolute;
  top: 273.48px;
  left: 116.93px;
  width: 363.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18.9px;
  font-size: 16.62px;
  color: #293a47;
}

.subscribeContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.4px;
}

.subscribeTitle {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}

.subscribeForm {
  width: 269.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.4px;
  font-size: 10.14px;
  color: #413f3f;
}

.formRow1 {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17.7px;
}

.countryInput {
  height: 27px;
  width: 60.2px;
  border-radius: 27px;
  border: 0.7px solid rgba(26, 26, 26, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2.9px 2.9px 2.9px 11.6px;
  position: relative;
}

.inputWrapper {
  height: 12.5px;
  margin: 0 !important;
  position: absolute;
  top: 7.27px;
  left: 10.38px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.inputText {
  position: relative;
  line-height: 17.38px;
}

.codeInput {
  height: 33.2px;
  width: 62.3px;
  border-bottom: 0.7px solid rgba(26, 26, 26, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.9px 2.9px 2.9px 11.6px;
}

.codeImage {
  width: 100%;
  position: relative;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

.verificationInput {
  height: 33.2px;
  width: 109px;
  border-bottom: 0.7px solid rgba(26, 26, 26, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9px 2.9px 2.9px 11.6px;
  position: relative;
}

.formRow2 {
  align-self: stretch;
  height: 33.2px;
  border-radius: 23.17px;
  border: 0.7px solid rgba(26, 26, 26, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9px 2.9px 2.9px 11.6px;
  gap: 20px;
}

.emailInput {
  display: flex;
  align-items: center;
}

.subscribeButton {
  align-self: stretch;
  box-shadow: 0px 5.192590713500977px 4.15px rgba(255, 255, 255, 0.25) inset, 0px 4.154071807861328px 4.15px rgba(0, 0, 0, 0.25), 0px 0px 4.15px rgba(0, 0, 0, 0.25);
  border-radius: 34.76px;
  background: linear-gradient(90deg, #000, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.8px 17.4px;
  color: #fff;
}

.buttonText {
  position: relative;
  line-height: 17.38px;
  font-weight: 600;
}

.formDescription {
  width: 230.3px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 150%;
  color: #707070;
  display: inline-block;
}

.socialSection {
  width: 150.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.9px;
  font-size: 13.38px;
  color: #282828;
}

.followUsWrapper {
  width: 74.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.followUs {
  align-self: stretch;
  position: relative;
  line-height: 20.07px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 12.5px;
}

.socialIcon {
  height: 20.1px;
  width: 20.1px;
  position: relative;
}

.copyrightSection {
  position: absolute;
  top: 831.03px;
  left: calc(50% - 476.65px);
  width: 1003.4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 11.71px;
  color: #a2a2a2;
}

.copyrightText {
  position: relative;
  line-height: 20.07px;
  font-weight: 300;
}

.legalLinks {
  display: flex;
  align-items: center;
  gap: 26.8px;
  font-family: 'Plus Jakarta Sans';
}

.legalLink {
  position: relative;
  line-height: 20.07px;
  font-weight: 500;
}

.addressSection {
  position: absolute;
  top: 698.52px;
  left: calc(50% - 438.87px);
  display: flex;
  align-items: center;
  gap: 117.8px;
  font-size: 12.77px;
  color: #5b5b5b;
}

.addressItem {
  width: 143.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.1px;
}

.locationIcon {
  width: 21.8px;
  height: 13.7px;
  position: relative;
}

.locationSymbol {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

.vectorIcon {
  position: absolute;
  height: 38.69%;
  width: 100%;
  top: 30.59%;
  right: 0%;
  bottom: 30.73%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vectorTop {
  position: absolute;
  height: 30.66%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 69.34%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vectorBottom {
  position: absolute;
  height: 30.66%;
  width: 100%;
  top: 69.09%;
  right: 0%;
  bottom: 0.25%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vectorDot {
  position: absolute;
  height: 31.39%;
  width: 21.56%;
  top: 34.24%;
  right: 39.11%;
  bottom: 34.38%;
  left: 39.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.addressDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.6px;
}

.addressTitle {
  align-self: stretch;
  height: 12.8px;
  position: relative;
  line-height: 13.01px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.addressLines {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.3px;
  font-size: 10.41px;
}

.addressLine {
  align-self: stretch;
  height: 12.8px;
  position: relative;
  font-size: 9.37px;
  line-height: 13.01px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.flagIcon {
  width: 21.8px;
  height: 14.3px;
  position: relative;
}

.flagImage {
  width: 21.8px;
  height: 12.8px;
  position: relative;
}

.riseTitle {
  position: absolute;
  top: 590.27px;
  left: calc(50% - 603.07px);
  font-size: 21.74px;
  font-weight: 600;
  font-family: 'Maven Pro';
}