
@import "tailwindcss";


body {
  margin: 0;
  font-family: "f1", sans-serif !important;
}
.f1 { font-family: "f1" !important; }
.f2 { font-family: "f2" !important; }
.f3 { font-family: "f3" !important; }
.f4 { font-family: "f4" !important; }
.f5 { font-family: "f5" !important; }
.f6 { font-family: "f6" !important; }
.f7 { font-family: "f7" !important; }
